<h1>New Vendor Sweet</h1>
<% if flash[:errors] %>
    <ul>
    <% flash[:errors].each do |error_message| %>
        <li>
            <%= error_message %>
        </li>
    <% end %>
    </ul>
<% end %>
<!--2. A user should be able to visit a page with a form that will let them choose a `Vendor` and a `Sweet` and create a `VendorSweet` when they submit that form. 

The form should include a dropdown to select a vendor, another dropdown to select its sweet, and an input for the price. 

We'd like the route to this form to follow the RESTful convention (as well as the route that it should submit its form values to). 

Once the `VendorSweet` is created, we'd like to go to the selected vendor's show page. -->
<%= form_for @vendor_sweet do |f| %>
    <%= f.collection_select :sweet_id, Sweet.all, :id, :name %>
    
    <%= f.collection_select :vendor_id, Vendor.all, :id, :name %>
    
    <%= f.label :price %>
    <%= f.number_field :price %>

    <%= f.submit %>
<% end %>


<%= button_to "Show VendorSweets ", vendor_sweets_path, method: :get %>
<%= button_to "Show Vendors", vendors_path, method: :get %>
<%= button_to "Show Sweets", sweets_path, method: :get %>