<h1>A Vendor Sweet</h1>

<%= @vendor_sweet.vendor.name %>
<%= @vendor_sweet.sweet.name %>
<%= @vendor_sweet.price %>

<%= link_to "Update Vendor Sweet", edit_vendorsweet_path(vendorsweet) %>
<%= button_to "delete vendor sweet", method: :delete %>