<h1>All Vendors</h1>
<!--5. On the vendor's index page, we should see a list of vendor's names (we've already done this part for you). When a user clicks on a vendor's name, it should take a user to the vendor's show page. -->
<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor%></li>
  <% end  %>
</ul>

<%= button_to "New VendorSweet", new_vendor_sweet_path, method: :get %>
<%= button_to "Show VendorSweets ", vendor_sweets_path, method: :get %>
<%= button_to "Show Vendors", vendors_path, method: :get %>
<%= button_to "Show Sweets", sweets_path, method: :get %>